body
{
	background-color:#E8E8E8;
}
form
{
	background-color: #E0E0E0;
	padding-top:50px;
	text-align:center;
	width:400px;
	margin-left:480px;
	border-style:none;
	border-width:2px;
}
label
{
	color: #B0B0B0;
	width:100px;
	display:inline-block;
}
input[type=text],input[type=password]
{
	background-color: #F8F8F8;
	border:none;
	height:40px;
	width:250px;
	padding:.475rem;
}


input[type=submit]
{
	background-color: #C8C8C8;
	padding: 10px 20px;
	border: none;
  /* text-decoration: none;*/
   margin: 4px 2px;
}